<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>OhMyScript</title>
</head>
<body>
	<div class="main center">
		<div class="selector">
			<input type="text" class="input-selector" autocomplete="off" placeholder="Name" spellcheck="false">
			<div class="siparator"></div>
			<input id="pwd" type="password" class="input-selector pwd" autocomplete="off" placeholder="Enter Password" spellcheck="false">
			<img src="./assets/enter.png" alt="" class="send">
		</div>
	</div>
	<p class="hostname">mds_1.0-p - ${data}.1337.ma</p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./script.js"></script>
</html>